@font-face {
  font-family: 'Game of Thrones';
  src: url('./font/Game\ of\ Thrones.ttf');
}
body {
  background-color: #D5D0C4;
  background-size: cover;
  font-family: 'Game of Thrones';
  margin: 0;
  padding: 0;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  width: 40vh;
}

.start_btn:hover, .reset_btn:hover {
  cursor: pointer;
}
.card_grid {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}
.front {
  background-image: url(./images/cardback.jpg);
  background-size: cover;
}
.card {
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.card,
.back,
.front {
  height: 80px;
  width: 80px;
}
.back {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card.unmatched {
  -webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
.clickedOn {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .btn_container{
    width: 90vh;
  }

  .card_grid{
    width: 100vh;
    }
  .card,
.back,
.front {
  height: 150px;
  width: 150px;
}
}